footer .top-footer {
  height: 150px;
  background: #434343;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  padding-bottom: 150px;
  position: absolute;
  bottom: 0;
}
footer .top-footer .sitemap {
  width: 200px;
  border-left: 1px solid #efefef;
  padding-left: 20px;
  position: absolute;
    bottom: 0;

}
footer .top-footer .sitemap:first-child {
  border: none;
  position: absolute;
    bottom: 0;
}
footer .top-footer .sitemap .headline {
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
    bottom: 0;
}
footer .top-footer .sitemap p {
  color: #fff;
  font-weight: 300;
  position: absolute;
    bottom: 0;
}
footer .bottom-footer {
  height: 60px;
  background: #313131;
  text-align: center;
  position: absolute;
    bottom: 0;
}
footer .bottom-footer .bottom-footer-divider {
  padding-top: 18px;
  justify-content: space-between;
  align-items: center;
  width: 62%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
    bottom: 0;
}
footer .bottom-footer .bottom-footer-divider .copyright {
  color: #fff;
  margin: 0;
}
footer .bottom-footer .bottom-footer-divider .socials {
  width: 110px;
}
footer .bottom-footer .bottom-footer-divider .socials img {
  display: inline-block;
  margin-right: 40px;
  width: 17px;
}
footer .bottom-footer .bottom-footer-divider .socials img:last-child {
  margin-right: 0;
  width: 28px;
}
